/.idea
/SeveralRepositories/bin
/SeveralRepositories/obj
/RepositoriesClientApp/bin
/RepositoriesClientApp/obj
/RepositoriesClientAppRx/bin
/RepositoriesClientAppRx/obj
/WorkWithSeveralRepositories.sln.DotSettings.user
